/* Colour Palette
white: #fcfcfc
light-blue: #3399cc
dark-blue: #000099
grey: #999999
black: #0b0b0b
*/

/* Basics */
* {
    font-family: 'Lato', sans-serif;
}
h1 {
    color: #000099;
}
h2, h3, h4, h5 {
    color: #999999;
}
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* Navbar */
.navbar-brand {
    float: left;
}
#navbar {
    float: right;
}

/* Upload Button */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
