/* Colour Palette
white: #fcfcfc
light-blue: #3399cc
dark-blue: #006294
grey: #999999
black: #0b0b0b
*/

/* Basics */
* {
    font-family: 'Lato', sans-serif;
    font-size: 105%;
}
h1 {
    color: #3399cc;
}
h2, h3, h4, h5 {
    color: #999999;
}
body {
  padding-top: 50px;
  background-color: #fcfcfc;
}
.contents {
  padding: 40px 15px 20px;
}
.center {
    text-align: center;
}
a {
    color: #006294;
}
a:focus, a:hover {
    color: #3399cc;
    text-decoration: none;
}

/* Navbar */
.navbar {
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #3399cc;
    font-size: 14px;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #3399cc;
    background-color: transparent;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin: auto;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 12px 12px;
    font-size: 18px;
    line-height: 30px;
}
#navbar {
    float: right;
}
.navbar-toggle {
    background-color: #999999;
    color: #0b0b0b;
}

/* Splash Block */
#splash a {
    outline: 0;
}

/* Buttons */
.btn-primary {
    background-color: #3399cc;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #006294;
}
.btn-submit, .btn-file, .dropdown-toggle, .form-control {
    position: relative;
    overflow: hidden;
    font-size: 18px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 8px 8px 16px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 200%;
    min-height: 200%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    padding: 18px 28px;
}
.btn-submit {
    min-width: 240px;
}
@media (min-width: 40em) {
    .btn-submit {
        min-width: 480px;
    }
}

/* Map Selector */
#location {
    width: 250px;
    height: 200px;
}
#location-address {
    width: 240px;
}
@media (min-width: 40em) {
    #location {
        width: 500px;
        height: 400px;
    }
    #location-address {
        width: 480px;
    }
}

/* Date/Time Fields */
#date, #time {
    width: 200px;
}
